<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger mt-2" ><i class="bi bi-trash-fill"></i> | Supprimer</button>
</form>


