{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-3">
        <h5 class="card-header">Informations</h5>
        <div class="card-body">
            <h5 class="card-title">Générales</h5><hr>
            <p class="card-text"><ul><li>Blog réalisé par <b></b> dans le cadre du projet de <b>PHP Avancé</b> <i>(Semestre 3)</i></li></ul></p>

            <h5 class="card-title">Technologies utilisées</h5><hr>
            <p class="card-text">
                <ul>
                    <li>Symfony <span class="badge badge-primary">5.3</span></li>
                    <li>Bootstrap <span class="badge badge-primary">4.6</span></li>
                    <li>Bootstrap-Icons <span class="badge badge-primary">1.5</span></li>
                </ul>
            </p>
        </div>
    </div>
</div>
    
{% endblock %}
