<form method="post" action="{{ path('comment_valid', {'id': comment.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('valid' ~ comment.id) }}">
    <button class="btn btn-success mt-2">Valider</button>
</form>
